*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    --fancy-font: 'Lobster', cursive;
}

#page-header-container{
    background-color: rgba(35, 35, 250, 0.868);
    height: 20vh;
    display: flex;
    justify-content: center;
}

#header-hero{
    display: flex;
    align-items: center;
}

#ttt-header-pic{
    height: 70%;
}

#header-title{
    font-size: 6rem;
    font-family: var(--fancy-font);
    margin-left: 2rem;
    color: white;
}

#game-board-container{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#game-board{
    margin-top: 40px;
    display:grid;
    width: 400px;
    height: 400px;
    background-color: rgba(184, 184, 184, 0.208);
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    padding: 15px;
}
.game-board-square{
    font-size: 6rem;
    text-align: center;
}

#top-left{
    border-right: black solid 5px;
    border-bottom: black solid 5px
}

#top-middle{
    border-left: black solid 5px;
    border-bottom: black solid 5px;
    border-right: black solid 5px;
}

#top-right{
    border-left: black solid 5px;
    border-bottom: black solid 5px;
}

#left{
    border-top: black solid 5px;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
}

#middle{
    border: black solid 5px;
}

#right{
    border-top: black solid 5px;
    border-left: black solid 5px;
    border-bottom: black solid 5px;
}

#bottom-left{
    border-top: black solid 5px;
    border-right: black solid 5px;
}

#bottom-middle{
    border-top: black solid 5px;
    border-left: black solid 5px;
    border-right: black solid 5px;
}

#bottom-right{
    border-top: black solid 5px;
    border-left: black solid 5px;
}

.player-container{
    font-size: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}